body{
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

header{
  background-color: #343a40;
  color: white;
}

header h3{
  float: left;
  margin-left: 6%;
  margin-top: 5px;
}

header a{
  text-decoration: none;
  color: white;
  float: left;
  margin: 10px;
}
#home{
  margin-left: 55%;
}

.init{
  /*background: url(../img/header.jpg);*/
  background-size: cover;
  height: 500px;
  -webkit-filter: brightness(50%);
}

.back-img{
  width: 100%;
  position: absolute;
  height: 500px;
  background-size: cover;
}

.text{
  text-align: center;
  color: white;
  font-size: 60px;
  font-weight: lighter;
  position: relative;
  margin-top: 150px;
}

.img{
  border-radius: 100%;
  width: 70%;
  height: 70%;
  margin: 10%;
}

.about{
  margin: 10%;
  width: 30%;
}

.about h3{
  margin-bottom: 5%;
  font-size: 40px;
  font-weight: lighter;
}

footer{
  background-color: #343a40;
  color: white;
  height: 100px;
}

footer h4{
  text-align: center;
  margin-top: 30px;
}
